<div class="col-sm-12">
    <table id="datatable" class="table align-middle mb-0 overflow-hidden" style="width:100%">
        <thead class="datable-thead table-light">
        <tr>
            <th>#</th>
            <th>Photo</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Prenoms</th>
            <th>Nom</th>
            <th>Dernière connexion</th>
            <th>actions</th>
        </tr>
        </thead>
    </table>
</div>




