<div class="col-sm-12">
    <table id="datatable" class="table table-responsive no-footer" style="width:100%">
        <thead class="datable-thead table-light">
            <tr>
                <th></th>
                <th>Référence</th>
                <th>Montant</th>
                <th>Statut</th>
                <th>Opérateur</th>
                <th>Code de paiement</th>
                <th>Numéro réçu</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>




