<div class="featured-top">
    <aside class="featured-top__inner section container clearfix" role="complementary">
        <section class="region region-featured-top">
            <div id="block-bannerjoiningus" class="block block-block-content block-block-contente2684bcc-340d-44cb-a918-575530ea4295">
                <div class="content">
                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><header class="pillar-header joining-us">
                            <div class="container">
                                <img alt="Header Joining Us" height="77" src="{{ asset('/sites/img/header-membership.png') }}" title="Header Joining Us" width="168">
                                <h1 style="color:white;">{{ title }}</h1>
                            </div>
                        </header>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>