<div class="col-sm-12">
    <table id="datatable" class="table table-responsive no-footer" style="width:100%">
        <thead class="datable-thead">
        <tr>
            <th></th>
            <th>Numéro carte grise</th>
            <th>Numéro recepissé</th>
            <th>Numero immatriculation</th>
            <th>Date de première mise en cirulation</th>
            <th>Date d'édition</th>
            <th>Identite propriétaire</th>
            <th>Identite proprietaire pièce</th>
            <th>Marque du vehicule</th>
            <th>Genre vehicule</th>
            <th>Type commercial</th>
            <th>Couleur vehicule</th>
            <th>Carroserie vehicule</th>
            <th>Places assises</th>
            <th>Usage vehicule</th>
            <th>Puissance fiscale</th>
            <th>Nombre d'essieux</th>
            <th>Cylindree</th>
            <th>Numéro vin chassis</th>
            <th>Couleur vehicule</th>
            <th>Société de crédit</th>
            <th>Type technique</th>
            <th>Numero d'immatriculation precedent</th>
            <th>Reference</th>
            <th>Montant</th>
            <th>Type</th>
            <th>Payment type</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
</div>




