{% extends 'frontend/base.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <style>
        .form-signin {
            max-width: 500px;
            padding: 1rem;
            height: 50vh;
        }

        input.form-control  {
            text-align: center;
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #006a53;
            outline: 0;
            box-shadow: 4px 3px 0 0rem #006a53;
        }

        .select ,.select:focus,
        input.form-control:focus {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #006a53;
            outline: 0;
            box-shadow: 2px 2px 0 0rem #006a53;
        }

        .btn-check:checked+.btn,
        .btn.active, .btn.show,
        .btn:first-child:active,
        :not(.btn-check)+.btn:active,
        .btn:hover {
            color: #ffffff;;
            background-color: #e16a00;
            border: 1px solid #e16a00;
        }

        .btn {
            font-size: 16px;
            font-weight: 600;
            padding: 14px 16px 13px;
            color: #ffffff;
            border: 1px solid #ff7b00;
            border-radius: 3px;
            background-color: #ff7b00;
        }
    </style>
{% endblock %}

{% block body %}
<div class="main container pb-5">
    <div class="row justify-content-center align-items-center py-5">
        <div class="col-xl-8">
            <div class="card py-5">
                <div class="card-body m-auto align-items-center">
                    <form action="{{ path("otp") }}" method="post">
                        <h1 class="h3 mb-3 fw-normal">Authentifiez vous</h1>
                        <div class="form-group mb-3">
                            <label for="numerotelInput">Entrez votre numéro de téléphone mobile.</label>
                            <input class="form-control my-3 p-3 fs-3" tabindex="1" id="numerotelInput" name="numerotelInput"  type="text" autocomplete="off" autofocus="">
                        </div>
                        <button class="btn w-100 py-2" type="submit">Envoyer</button>
                    </form>
                    <div class="w-100 pt-5">
                        <span class="fw-bold font-size-20">Attention!!! Le paiement de macaron se fait exclusivement via l'opérateur WAVE </span>
                        <img src="{{ asset('frontend/demande/img/wave-logo.svg') }}" alt="wave-money" width="30" height="30">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
  $(document).ready(function(){
    $("#numerotelInput").inputmask({"mask": "(+225) 99-99-99-99-99"}); //specifying options
  });
  </script>
{% endblock %}
