<div class="container">
    <div class="mb-3">
        <label for="identite_proprietaire" class="form-label">Identité du propriétaire</label>
        <input type="text" class="form-control input" name="identite_proprietaire" id="identite_proprietaire" placeholder="">
    </div>
    <div class="mb-3">
        <label for="marque_du_vehicule" class="form-label">Marque</label>
        <input type="text" class="form-control input" name="marque_du_vehicule" id="marque_du_vehicule" placeholder="">
    </div>
    <div class="mb-3">
        <label for="genre_vehicule" class="form-label">Genre</label>
        <input type="text" class="form-control input" name="genre_vehicule" id="genre_vehicule" placeholder="">
    </div>
    <div class="mb-3">
        <label for="carroserie_vehicule" class="form-label">Carroserie</label>
        <input type="text" class="form-control input" name="carroserie_vehicule" id="carroserie_vehicule" placeholder="">
    </div>
    <div class="mb-3">
        <label for="type_technique" class="form-label">Type</label>
        <input type="text" class="form-control input" name="type_technique" id="type_technique" placeholder="">
    </div>
    <div class="mb-3">
        <label for="numero_recepisse" class="form-label">Numéro de la série<span class="text-danger"> * </span><span class="small text-danger"> (champ obligatoire) </span></label>
        <input type="text" class="form-control input" name="numero_recepisse" id="numero_recepisse" placeholder="" required>
    </div>
    <div class="mb-3">
        <label for="energie_vehicule" class="form-label">Source Energie</label>
        <select id="energie_vehicule" class="form-select input" name="energie_vehicule">
            <option value="ESSENCE" selected>ESSENCE</option>
            <option value="GAZOIL" >GASOIL</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="places_assises" class="form-label">Nombre de places</label>
        <input type="number" class="form-control input" name="places_assises" id="places_assises" placeholder="">
        <span>P T.A.C (Kg)</span>
    </div>
    <div class="mb-3">
        <label for="puissance_fiscale" class="form-label">Puissance </label>
        <input type="text" class="form-control input" name="puissance_fiscale" id="puissance_fiscale" placeholder="">
        <span>P.V (Kg)</span>
    </div>
    <div class="mb-3">
        <label for="couleur_vehicule" class="form-label">Couleur</label>
        <input type="text" class="form-control input" name="couleur_vehicule" id="couleur_vehicule" placeholder="">
    </div>
    <div class="mb-3">
        <label for="numero_vin_chassis" class="form-label">Numéro de série (Chassis) <span class="text-danger"> * </span><span class="small text-danger"> (champ obligatoire) </span></label>
        <input type="text" class="form-control input" name="numero_vin_chassis" id="numero_vin_chassis" placeholder="" required>
    </div>
    <div class="mb-3 form-group">
        <label for="date_d_edition" class="form-label">Le présent récépissé est délivré le</label>
        <input type="text" class="form-control " id="date_d_edition" name="date_d_edition" data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="dd/mm/yyyy" im-insert="false">
    </div>

</div>
