
<footer class="footer_footer__dNu7X footer">
    <section class="footer_footer-nav__y4MDn">
        <div class="footer_footer-inner__QKy4f inner">
            <div class="footer_footer-row__oAJsW">
                <div class="footer_footer-col__VyebP">
                    <div class="footer_footer-titre__4jHDy">transecure.ci</div>
                    <ul>
                        <li><a tabindex="0" href="/contact/" rel="follow">Nous contacter</a></li>
                        <li><a tabindex="0" href="{{ path('home') }}" target="_self" rel="nofollow">Demande</a></li>
                        <li><a tabindex="0" href="/reclamations/" rel="follow">Réclamations</a></li>
                        <li><a tabindex="0" href="{{ path('home') }}" target="_blank" rel="nofollow">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
