
<footer class="footer_footer__dNu7X footer">
    <section class="footer_footer-nav__y4MDn">
        <div class="footer_footer-inner__QKy4f inner">
            <div class="footer_footer-row__oAJsW">
                <div class="footer_footer-col__VyebP">
                    <div class="footer_footer-titre__4jHDy">transecure.ci</div>
                </div>
            </div>
        </div>
    </section>
</footer>
