<div class="col-sm-12">
    <table id="datatable" class="table table-responsive no-footer" style="width:100%">
        <thead class="datable-thead">
        <tr>
            <th></th>
            <th>Numéro carte grise</th>
            <th>Numéro recepissé</th>
            <th>Numero immatriculation</th>
            <th>Identite propriétaire</th>
            <th>Identite proprietaire pièce</th>
            <th>Numéro vin chassis</th>
            <th>Reference</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
</div>




