<div class="col-sm-12">
    <table id="datatable" class="table table-responsive no-footer table align-middle table-nowrap mb-0" style="width:100%">
        <thead class="datable-thead table-light">
        <tr>
            <th></th>
            <th>N° carte grise</th>
            <th>N° récépissé</th>
            <th>N° immatriculation</th>
            <th>Propriétaire</th>
            <th>N° Pièce du proprietaire</th>
            <th>N° vin chassis</th>
            <th>Date Rendez-vous</th>
            <th>N° Re&ccedil;u</th>
            <th>Statut</th>
            <th style="max-width:30px">Action</th>
        </tr>
        </thead>
    </table>
</div>




