<div class="col-sm-12">
    <table id="datatable" class="table align-middle mb-0 overflow-hidden" style="width:100%">
        <thead class="datable-thead table-light">
        <tr>
            <th></th>
            <th><small>N° carte grise</small></th>
            <th><small>N° récépissé</small></th>
            <th><small>N° immatriculation</small></th>
            <th><small>Propriétaire</small></th>
            <th><small>N° Pièce du proprietaire</small></th>
            <th><small>N° vin chassis</small></th>
            <th><small>Date rendez-vous</small></th>
            <th><small>N° Re&ccedil;u</small></th>
            <th><small>Statut</small></th>
            <th style="min-width:50px">Action</th>
        </tr>
        </thead>
    </table>
</div>




