<div class="col-sm-12">
    <table id="datatable" class="table table-responsive no-footer" style="width:100%">
        <thead class="datable-thead">
        <tr>
            <th></th>
            <th>Numéro carte grise</th>
            <th>Numéro récépissé</th>
            <th>Marque du vehicule</th>
            <th>Genre vehicule</th>
            <th>Energie</th>
            <th>Propriétaire</th>
            <th>Pièce du Propriétaire</th>
            <th>Contact du propriétaire</th>
        </tr>
        </thead>
    </table>
</div>




