<div class="col-sm-12">
    <table id="datatable" class="table table-responsive no-footer" style="width:100%">
        <thead class="datable-thead">
            <tr>
                <th></th>
                <th>Référence</th>
                <th>QR Code</th>
                <th>Statut</th>
                <th>Date émission</th>
                <th>Date expiration</th>
                <th>Contact propriétaire</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>




