{% extends 'frontend/base.html.twig' %}

{% block title %}Nouvelle demande{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        body #__next{
            background-color: #f2f3f2
        }
        .form-signin {
            max-width: 500px;
            padding: 1rem;
            height: 50vh;
        }
        input.form-control  {
            text-align: center;
        }
        input.form-control:focus {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #006a53;
            outline: 0;
            box-shadow: 4px 3px 0 0rem #006a53;
        }
        .btn-check:checked+.btn,
        .btn.active, .btn.show,
        .btn:first-child:active,
        :not(.btn-check)+.btn:active,
        button.btn:hover {
            color: #ffffff;;
            background-color: #e16a00;
            border: 1px solid #e16a00;
        }
        button.btn {
            font-size: 16px;
            font-weight: 600;
            padding: 14px 16px 13px;
            color: #ffffff;
            border: 1px solid #ff7b00;
            border-radius: 3px;
            background-color: #ff7b00;
        }
        .liste-etapes {
            color: var(--text-color);
            font-family: var(--font-text);
            font-size: .875rem;
            font-weight: 400;
            line-height: 1.25;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            margin-bottom: 32px;
        }
        .etape {
            background-color: transparent;
            border-radius: 3px;
            padding: 56px 16px 0;
            position: relative;
            width: 176px;
        }
        .etape .icon, .etape .info {
            text-align: center;
            z-index: 2;
        }
        .etape .icon {
            top: 16px;
            left: calc(50% - 16px);
            width: 32px;
            height: 32px;
            border: 2px solid #006a53;
            border-radius: 50%;
            color: #fff;
            font-size: 1rem;
            font-weight: 700;
            line-height: 28px;
        }
        .etape .icon, .etape .line {
            position: absolute;
            background-color: #006a53;
        }
        .etape.active .info {
            color: #444;
            font-weight: 700;
        }
        .etape .info {
            color: #b2b2b2;
            font-size: .875rem;
            font-weight: 600;
            line-height: 20px;
        }
        .etape .icon, .etape .info {
            text-align: center;
            z-index: 2;
        }
        .etape.disabled .line {
            background-color: #e0e0e0;
        }
        .etape .icon, .etape .line {
            position: absolute;
            background-color: #006a53;
        }
        .etape .line {
            top: 31px;
            left: -60px;
            width: 120px;
            height: 2px;
            border-radius: 4px;
            z-index: 1;
        }
        .etape.disabled .icon {
            background-color: transparent;
            color: #b2b2b2;
            border-color: #e0e0e0;
        }
        .etape .icon, .etape .info {
            text-align: center;
            z-index: 2;
        }
        .etape .info {
            color: #b2b2b2;
            font-size: .875rem;
            font-weight: 600;
            line-height: 20px;
        }
        .etape.active .info {
            color: #444;
            font-weight: 700;
        }

        .input, .select select {
            width: 100%;
            height: 48px;
            background-color: #f9f9f9;
            border-radius: 3px;
            border: 1px solid #b2b2b2;
            box-shadow: none;
        }

        .form-label{
            color: var(--text-color);
            font-family: var(--font-text);
            box-sizing: border-box;
            display: block;
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: .5em;
            line-height: 1.375rem;
        }
        .input {
            font-size: .875rem;
            line-height: 1.25rem;
            padding: 13px 16px;
        }
    </style>
{% endblock %}

{% block body %}
    <div role="main" class="container mt-5">
        <div id="page-1">
            <div class="liste-etapes is-clearfix">
                <div class="etape active current"><!---->
                    <div class="icon">1</div> <!---->
                    <div class="info">Informations vehicule</div>
                </div>
                <div class="etape disabled">
                    <div class="line"></div>
                    <div class="icon">2</div>
                    <div class="info">Récapitulatif</div>
                </div>
                <div class="etape disabled">
                    <div class="line"></div>
                    <div class="icon">3</div> <!---->
                    <div class="info">Paiement</div>
                </div>
                <div class="etape disabled">
                    <div class="line"></div>
                    <div class="icon">4</div> <!---->
                    <div class="info">Reçu de paiement</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body m-auto w-75">
                            <h4 class="card-title mb-4">Informations sur votre vehicule</h4>
                            <form action="{{ path('demande_new') }}" method="POST">
                                {% if document == 'carte_grise' %}
                                <div class="mb-3">
                                    <label for="numero_carte_grise" class="form-label">Numéro de la carte grise</label>
                                    <input type="text" class="form-control input" id="numero_carte_grise" placeholder="" required>
                                </div>
                                {% endif %}
                                {% if document == 'recepisse' %}
                                <div class="mb-3">
                                    <label for="numero_recepisse" class="form-label">Numéro du récépissé d'immatriculation</label>
                                    <input type="text" class="form-control input" id="numero_recepisse" placeholder="" required>
                                </div>
                                {% endif %}
                                <div class="mb-3">
                                    <label for="numero_immatriculation" class="form-label">Numéro d'immatriculation</label>
                                    <input type="text" class="form-control input" id="numero_immatriculation" placeholder="">
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="date_de_premiere_mise_en_cirulation" class="form-label">Date de première mise en cirulation</label>
                                    <input type="text" class="form-control input" id="date_de_premiere_mise_en_cirulation" data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="dd/mm/yyyy" im-insert="false">
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="date_d_edition" class="form-label">Date d'édition</label>
                                    <input type="text" class="form-control " id="date_d_edition" data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="dd/mm/yyyy" im-insert="false">
                                </div>
                                <div class="mb-3">
                                    <label for="identite_proprietaire" class="form-label">Identité du propriétaire</label>
                                    <input type="text" class="form-control input" id="identite_proprietaire" placeholder="">
                                    <input type="text" class="form-control input" id="identite_proprietaire_piece" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="marque_du_vehicule" class="form-label">Marque</label>
                                    <input type="text" class="form-control input" id="marque_du_vehicule" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="genre_vehicule" class="form-label">Genre</label>
                                    <input type="text" class="form-control input" id="genre_vehicule" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="type_commercial" class="form-label">Type Commercial</label>
                                    <input type="text" class="form-control input" id="type_commercial" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="couleur_vehicule" class="form-label">Couleur</label>
                                    <input type="text" class="form-control input" id="couleur_vehicule" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="carroserie_vehicule" class="form-label">Carroserie vehicule</label>
                                    <input type="text" class="form-control input" id="carroserie_vehicule" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="energie_vehicule" class="form-label">Energie</label>
                                    <select id="energie_vehicule" class="form-select input" name="energie_vehicule">
                                        <option value="ESSENCE" selected>ESSENCE</option>
                                        <option value="GAZOIL" >GASOIL</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="places_assises" class="form-label">Places assises</label>
                                    <input type="text" class="form-control input" id="places_assises" placeholder="">
                                    <span>P T.A.C (Kg)</span>
                                </div>
                                <div class="mb-3">
                                    <label for="usage_vehicule" class="form-label">Usage véhicule</label>
                                    <input type="text" class="form-control input" id="usage_vehicule" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="puissance_fiscale" class="form-label">Puissance fiscale</label>
                                    <input type="text" class="form-control input" id="puissance_fiscale" placeholder="">
                                    <span>P.V (Kg)</span>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre_d_essieux" class="form-label">Nombre d'essieux</label>
                                    <input type="text" class="form-control input" id="nombre_d_essieux" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="cylindree" class="form-label">Cylindrée (CC)</label>
                                    <input type="text" class="form-control input" id="cylindree" placeholder="">
                                    <span>C.U (Kg)</span>
                                </div>
                                <div class="mb-3">
                                    <label for="numero_vin_chassis" class="form-label">Numéro du VIN/Chassis</label>
                                    <input type="text" class="form-control input" id="numero_vin_chassis" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="societe_de_credit" class="form-label">Société de crédit</label>
                                    <input type="text" class="form-control input" id="societe_de_credit" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="type_technique" class="form-label">Type technique</label>
                                    <input type="text" class="form-control input" id="type_technique" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="numero_d_immatriculation_precedent" class="form-label">Numéro d'immatriculation précedent</label>
                                    <input type="text" class="form-control input" id="numero_d_immatriculation_precedent" placeholder="">
                                </div>
                                <div>
                                    <input type="submit" class="btn btn-primary w-md">Enregister</input>
                                </div>
                            </form>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
 {{ parent() }}
  <script>
      $(document).ready(function(){
           $("#date_d_edition").inputmask();
           $("#date_de_premiere_mise_en_cirulation").inputmask();

           $(":input").keypress(function(e){
               this.value = this.value.toUpperCase();
           });
      });
  </script>
{% endblock %}
