<div style="display: flex; justify-content: center; width: 200px; height: 200px">
    <img src="/var/www/html/public/media/macaron_bg.png"></div>
    <img src="{{ qrcode }}" alt="" style="position: absolute; width: 800px; height: 830px; top: 3250px; left:1735px">
</div>
