<div class="col-sm-12">
    <table id="datatable" class="table table-responsive no-footer" style="width:100%">
        <thead class="datable-thead">
        <tr>
            <th></th>
            <th>Carte</th>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Prenoms</th>
        </tr>
        </thead>
    </table>
</div>




