<div class="col-sm-12">
    <table id="datatable" class="table table-responsive no-footer" style="width:100%">
        <thead class="datable-thead">
        <tr>
            <th>Photo</th>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Prenoms</th>
            <th>Date de souscription</th>
            <th>Expire le</th>
            <th>N° Permis</th>
            <th>N° Piece</th>
            <th>Type</th>
            <th>Mobile</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
</div>




